.bg-container {
    background: -webkit-linear-gradient(117deg, rgb(240, 96, 96), rgb(122, 23, 23));
    background: linear-gradient(117deg, rgb(240, 96, 96), rgb(122, 23, 23));
    background: -webkit-radial-gradient(rgb(240, 96, 96), rgb(122, 23, 23));
    background: radial-gradient(rgb(240, 96, 96), rgb(122, 23, 23));
}

.blogpost-container {
    margin: 0% 6%;
    overflow: hidden;
    display: block;

}

.blogpost-text-container {
    margin: 0% 10%;
    padding-top: 10%;
    overflow: hidden;
}

h1.title {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6em;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.blogpost-text-container p.authortext {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
}

.blogpost-text-container p.foreword {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

blockquote {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2% 6%;
    font-size: 1.2em;
    line-height: 1.6em;
}

.blogpost-text-container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 20px 0px;
    line-height: 30px;
    text-align: justify;
}

img.blog-embed {
    width: 100%;
    margin: 2% 0;
}

@media only screen and (min-width: 768px) {
    .blogpost-text-container {
        margin: 0% 20%;
    }
}