/* 
	ALL STYLING FOR blog.html and blog entries
*/

.blog-preview {
}

.blog-preview-container {
	margin: 2% 10%;
	display: inline-block;
}

.blog-preview-container a {
	color: black;
}

.blog-preview-metadata {
	/* display: inline-flex; */
	margin-left: 25px;
}

.blog-preview-metadata p {
	margin-right: 5px;
	text-transform: uppercase;
	/* flex-shrink: 1; */
}

.blog-preview-metadata-date {
	opacity: 0.85;
}

.blog-preview-metadata-title {
	font-size: 1.4em;
	font-weight: bold;
	border-bottom: 1px solid black;
	color: black;
}

.blog-preview-metadata-title:hover {
	color: #963232;
}

.blog-preview-content {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.blog-preview-a-img {
	width: 100%;
}

.blog-preview-a {
	width: 30%;
	padding: 5px 5px;
}

.blog-preview-content p {
	text-align: start;
	color: black;
}

.blog-preview-content-text {
	text-align: justify;
	font-size: 1em;
	padding: 0px 25px;
}

@media only screen and (min-width: 768px) {
    .blog-preview-a {
        float: left;
    }
}