* {
box-sizing: border-box;
}

body {
    background-color: #111111;
    padding: 20px;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #ffffff;
}

h2 {
    word-break: break-all;
    color: #f0bba3;
    padding-left: 20px;
    padding-top: 10px;  
}

.row {
margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    /* background-color: #f0bba3; */
    padding: 18px;
    margin: 0px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
.column {
    width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}

.logo-link {
    max-width: 20%;
    padding-bottom: 20px;
}

.tiny-link {
    font-size: 10px;
}