* {
box-sizing: border-box;
}

body {
}

/* Center website */
.main {
    max-width: 600px;
    margin: auto;
}

.playmakers-logo {
    text-align: center;
    margin-bottom: -30px;
    padding-top: 20px
}

h1 {
    color: #111111;
    text-align: center;
    font-size: 70px;
}

h2 {
    background-color: #111111;
    word-break: break-all;
    color: #f0bba3;
    padding: 10px;
    text-align: center
}

.row {
    margin-left: 60px;
    margin-right: 60px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 0px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    /* background-color: #4d4444; */
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.logo-link {
    max-width: 20%;
    padding-bottom: 20px;
}

.tiny-link {
    font-size: 10px;
}

.game-iframe {
    height: 167;
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.golden {
    background-color: #f3d582;
    border-color: #f3d582;
}

.silver {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
}

a {
    color: #f0a3a3;
}

a:hover {
    color: #ffffff
}

.theme-desc {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.desc {
    text-align: center;
}
